<% include ../partials/header.ejs %>
<% if(parks.length === 0){ %>
<div class='row text-center'>
<h2 class='welcome'>Welcome, <b><%= typeof user.username === 'string' ? user.username : 'Unknown' %></b>!</h2>
<p class='welcome-text'>It appears that this is your first time using <em><b>Top Dog</b></em>. Go ahead and search your area for dog parks using the tool above. After you have favorited the parks you visit frequently, you can than use <em><b>Top Dog</b></em> to see if other dogs are there before you decide to go, or you can check in to let other owners know that you are there. <br><br><b>Have fun!<b></p>
</div>
<% }else{ %>
<div class='row text-center'>
<div class='col-md-6'>
<h2 class='welcome-old'>Welcome back, <b><%= typeof user.username === 'string' ? user.username : 'Unknown' %></b>!</h2>
</div>

</div>


<div class='row'>
<div class='col-md-7'>
<div class='table-scroll' style='overflow-y: scroll; height: 500px;'>
<table class="table">
  <thead>
    <tr>
      <th class='table-park'>Park Name</th>
      <th class='table-dogs'>Dogs</th>
      <th class='empty'></th>
      <th class='empty'></th>
    </tr>
  </thead>
  <tbody>
    <% for(var i = 0; i < parks.length; i++){ %>
    <tr>
      <td><p class='park-name'><%= parks[i].name %></p></td>
      <td><a href='/favorites/:<%= parks[i].id %>' class='btn btn-primary'>CheckIns</a></td>
      <td>
        <form action='/favorites/checkin' method='post' class='checkin-form'>
        <input type='hidden' name='parkid' value='<%= parks[i].id %>'>
        <input type='hidden' name='userid' value='<%= user.id %>'>
        <button type='submit' class='btn btn-success checkin-button'><span class='glyphicon glyphicon-ok'></span></button>
        </form>
      </td>
      <td>
        <form action='/favorites/checkout' method='post' class='checkout-form'>
          <input type='hidden' name='parkid' value='<%= parks[i].id %>'>
          <input type='hidden' name='userid' value='<%= user.id %>'>
          <button type='submit' class='btn btn-danger checkout-button hidden'><span class='glyphicon glyphicon-ok'></span></button>
        </form>
      </td>
      <td>
      <form action='/favorites/remove' method='post' class='remove-form'>
          <input type='hidden' name='parkid' value='<%= parks[i].id %>'>
          <input type='hidden' name='userid' value='<%= user.id %>'>
          <button type='submit' class='btn btn-danger remove-button'><i class='glyphicon glyphicon-trash danger'></i></button>
      </form>
      </td>
    </tr>
    <% } %>
  </tbody>
</table>
</div>
</div>
<div class='col-md-5 map-div'>
  <div id='user-map'></div>
</div>
</div>
    <% } %>
<script type="text/javascript">
  var dogRuns = <%- JSON.stringify(parks) %>
  var checks = <%- JSON.stringify(times) %>
  var user = <%- JSON.stringify(user) %>

  console.log('!!!!!!!',checks);

  indexJs();
  userMap(dogRuns);
  console.log(new Date().getTime() / 1000 / 3600);

</script>



<% include ../partials/footer.ejs %>