<% include ../partials/header.ejs %>
<div class="show-page">
  <div class='map-div'>
    <div id="map-canvas"></div>
  </div>
  <div class='row error hidden text-center'>
    <h2 class='no-parks'>Sorry no parks were found in that city</h2>
  </div>
  <div class="results-container">
     <% for(var i = 0; i < venues.length; i++){ %>
      <div class="location">
        <div class='park hidden-val'>
          <p class='park-name'><%= venues[i].name %></p>
          <input type='hidden' class='latlong' value='<%= venues[i].location.lat %>,<%= venues[i].location.lng %>'>
          <div class='address'>
            <a href='https://www.google.com/maps/place/<%= venues[i].location.formattedAddress %>'>
            Directions
              
            </a>
          </div>
        </div>
        <div class="details">
        <% if(venues[i].location.distance) { %>
        <div class="distance">
          <span><%= venues[i].location.distance %> miles</span>
        </div>
        <% } %>
        <% if(user) { %>
        <div>
          <p class='numDogs'>Dogs Playing Now: <span class="number">0</span></p>
        </div>
        <% } %>
        <div>
          <% if(user && !venues[i].favorite){ %>
          <form action='/favorites/add' method='post' class='hidden-form add-form'>
            <input type='hidden' name='name' value='<%= venues[i].name %>'>
            <input type='hidden' name='address' value='<%= venues[i].location.formattedAddress %>'>
            <input type='hidden' name='lat' value='<%= venues[i].location.lat %>'>
            <input type='hidden' name='long' value='<%= venues[i].location.lng %>'>
            <button type='submit' class='btn favorite'>Favorite</button>
          </form>
          <% } %>
          <% if (user && venues[i].favorite) { %>
          <form action='/favorites/checkin' method='post' class='checkin-form'>
            <input type='hidden' name='parkid' value='<%= venues[i].id %>'>
            <input type='hidden' name='userid' value='<%= user.id %>'>
            <button type='submit' class='btn btn-success checkin-button'>Checkin</button>
          </form>
          <% } %>
        </div>
      </div>
      </div>
    <% } %>
  </div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB62Pb7a4yF-S23s7IY33PueRTuaJKqySI" type="text/javascript"></script>
<script type="text/javascript">
var venues = <%-JSON.stringify(venues) %>
var parks = <%-JSON.stringify(parks) %>
var checks = <%-JSON.stringify(times) %>
showJs();
parksMap();
</script>
<% include ../partials/footer.ejs %>


